mixin menu(options)
  ul.resetul.menu
    li.menu__item
      a(href="#") Услуги
    li.menu__item
      a(href="#") Абонементы
    li.menu__item
      a(href="#") Почему мы
    li.menu__item
      a(href="#") Оборудование
    li.menu__item
      a(href="#") Акции
    li.menu__item
      a(href="#") FAQ
    li.menu__item
      a(href="#") Контакты
