mixin slider()
  section
    .slider
      .splide__track
        .splide__list
          .splide__slide
            .slider__img(style="background-image:url(./assets/img/slide1.jpg)")
            .container
              .slider__text
                h2 Полет Илона Маска и DOGIE COIN
                p В прошлый четверг все офигели от полета DOGIE COIN на марс.
                button.btn.btn_ygray#form
                  span Оставить заявку
          .splide__slide
            .slider__img(style="background-image:url(./assets/img/slide2.jpg)")
            .container
              .slider__text
                h2 DOGIE COIN упал
                p Все в шоке, я потерял все деньги
                button.btn.btn_ygray#form
                  span Оставить заявку
          .splide__slide
            .slider__img(style="background-image:url(./assets/img/slide3.jpg)")
            .container
              .slider__text
                h2 Эпическое возвращение на хаи
                p Все в шоке, я снова богат
                button.btn.btn_ygray#form
                  span Оставить заявку